/*HEADER*/
#logo:hover,#logo:focus {
    border: 1px solid black;
}

#busqueda:hover,#busqueda:focus {
   background-color: black;
   color: white;
   box-shadow: 2px 2px grey;
}

#busqueda + a:hover,#busqueda + a:focus, #volver_al_perfil:hover, #volver_al_perfil:focus {
    background-color: black;
    color: white;
}

#user_status > label:hover, #user_status > a:hover,#user_status > label:focus, #user_status > a:focus, #user_status > button:hover, #user_status > button:focus {
    background-color: black;
    color: white;
    cursor: pointer;
}

/*ALL*/
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus,input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: black;
    color: white;
}

input[type=text]:focus::placeholder, input[type=email]:focus::placeholder, input[type=password]:focus::placeholder {
    color: white;
}


/*NAV*/
nav > form > a:hover, nav > form > a + input:hover,nav > form > a:focus, nav > form > a + input:focus {
    background-color: black;
    color: white;
}

/*INDEX AND DETALLE_FOTO*/
body > main > h1 {
  font-size: 2.2em;
}

.p_box > label, .p_box > time {
  font-size: 1.4em;
}

.container_posting > .p_box > figure > a > img:hover, .container_posting > .p_box > figure > a > img:focus {
  box-shadow: 5px 5px #666;
}

/*AVANZADA*/
#form_search > button:hover, #form_search > button:focus {
    background-color: black;
    color: white;
}

/*PERFIL*/
#navegacion_perfil > label > button:hover, #navegacion_perfil > label > button:focus {
    background-color: black;
    color: white;
}

#container_posting_perfil > p {
    font-size: 1.2em;
}

/*ALBUM FORM SOLICITUD*/
.main_form_solicitud  h2 {
    font-size: 2em;
}

.main_form_solicitud > label:hover, .main_form_solicitud > label:focus {
    background-color: black;
    color: white;
}

.main_form_solicitud > label > span {
    font-size: 1.2em;
}

.main_form_solicitud > #box_info {
    font-size: 1.2em;
}

.main_form_solicitud > form > input {
    font-size: 1.2em;
}

.main_form_solicitud > form > button {
    margin-top: 1em;
    padding: 0.6em;
    font-size: 1em;
}

.main_form_solicitud > form > button:hover, .main_form_solicitud > form > button:focus {
    background-color: black;
    color: white;
}

/*CONFIRMACION IMPRESION*/
h3 + section > ul > li {
    font-size: 1.2em;
}

.main_album_respuesta  h3 + section > button:hover, .main_album_respuesta  h3 + section > button:focus {
    background-color: black;
    color: white;
}

/*REGISTRO*/
#form_registro > label {
    font-size: 1.4em;
}

#form_registro > label > input {
    font-size: 0.8em;
}

#form_registro > span > button:hover, #form_registro > span > label:hover, #form_registro > span > button:focus, #form_registro > span > label:focus {
    background-color: black;
    color: white;
}
