/* header, nav and footer*/
html {
    overflow-y: scroll;
}
body {
    margin: 0px auto;
    max-width: 1250px;
    font-family: 'Roboto', sans-serif;
}

body > header {
    height: 4.2em;
    border-bottom: 1px solid #5b5b5b;
    display: flex;
    flex-direction: row;
    margin-bottom: 0em;
}

#busqueda {
    padding: 0.3em;
    border-radius: 1px;
    border: 1px solid #666;
    background-color: #fefefe;
    width: 6em;
    box-shadow: 0.5px 0.5px grey;
    cursor:pointer;
}

#busqueda:hover {
   background-color: #5495ff;
   color:black;
   box-shadow: 2px 2px grey;
}

body > header > a > img {
    margin-top: 0.8em;
    height: 3em;
}

.top_header {
    padding: 1em 0.5em 0em 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_header > form {
    width: 30em;
}
.top_header > form > input {
    width: 60%;
}

.top_header > form > input, .top_header > form > input , button {
    margin-right: 0.2em;
}

.top_header > form > #busqueda:hover {
    cursor: pointer;
}

.top_header > form, #user_status > label, #user_status > a {
    border: 1px solid #5b5b5b;
    height: 1.3em;
    padding: 0.6em 1em;
    border-radius: 0px;
    margin-right: 0.2em;
    margin-left: 0.2em;

}

#user_status {
    padding-top: 0.8em;
}

#user_status > label, #user_status > a {
    background-color: #fff;
}

#user_status > label:hover, #user_status > a:hover {
    background-color: #a0a0a0;
    cursor: pointer;
}

#user_status > a {
    text-decoration: none;
    color: #000;
}

/* body > nav: tab for login */
body > nav {
    padding: 1em;
    width: 18em;
    display: none;
    background-color: #bbb;
    border: 1px solid #666;
    position: absolute;
    right: 21em;
    top: 4.5em;
}

body > nav > form > span + input {
    margin-bottom: 1em;
}

/* when you click con "Login" a tab appears to do the log*/
#check_login:checked + nav {
    display: flex;
    flex-direction: column;
}

/* checkbox not displayed */
body > input {
    display: none;
}

/* footer */
body > footer {
    background-color: #999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4em 1em;
    margin-top: 2em;
}
