/*body > main {
    width: 30em;
    display:table;
    margin-left:auto;
    margin-right:auto;
}*/

#form_estilo > select {
    margin-left: 1em;
}

#form_estilo > button {
    margin: 1em;
    padding: 0.75em 0em;
    border-radius: 1px;
    border: 1px solid #666;
    background-color: #fefefe;
    width: 8em;
    box-shadow: 0.5px 0.5px grey;
}


#form_registro {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 20em;
    margin: auto;
}

.hiddeofscreen {
    position : absolute;
    left : -10000px;
}

#form_registro > span > button {
    padding: 0.75em;
    border-radius: 1px;
    border: 1px solid #666;
    background-color: #fefefe;
    width: 15em;
    box-shadow: 0.5px 0.5px grey;
    cursor:pointer;
}

#form_registro > span > button:hover {
   background-color: #5495ff;
   color:black;
   box-shadow: 2px 2px grey;
}

#form_registro > label {
    height: 1.5em;
    width: 2em;
}

#form_registro > input {
    width: 16em;
    margin-bottom: 1em;
    margin-right: 1em;
    float: right;
}

#form_registro > label > span {
    width:1.5em;
    clear:left;
    float:left;
}

#form_registro > span {
    margin-top: 2em;
}

#form_registro > span > button {
    margin-left: 1em;
    padding: 0.6em;
    width: 8em;
}
