/*Printer CSS*/
@media print{
    html {
        filter: grayscale(100%);
    }
    .container_posting {
        flex-direction: column;
    }
    .top_header{
        display:none!important;
    }

    body>a:after {
        content:" <" attr(href) ">";
    }
    #check_info:checked + #box_info, #check_info:not(:checked) + #box_info { /*Mostrar abierto*/
        display:block;
    }
    .p_box {
        display: block;
        /*max-height: 100%!important;
        overflow: hidden!important;
        page-break-after: always;*/
    }
    figure>a:after{
        content:" <" attr(href) ">";
    }
    .icon-heart-empty, .icon-comment-empty {
      display: none;
    }
    div.p_box {
        page-break-before: always;
    }
}
