/*Printer CSS*/
@media print{
    html {
        filter: grayscale(100%);
    }
    .container_posting {
        flex-direction: column;
    }
    .top_header{
        display:none!important;
    }

    body>a:after {
        content:" <" attr(href) ">";
    }
    #check_info:checked + #box_info, #check_info:not(:checked) + #box_info { /*Mostrar abierto*/
        display:block;
    }

    /*.p_box>label:after{
        content:" <" attr(href) ">";
    }*/

    figure>a:after{
        content:" <" attr(href) ">";
    }

    .icon-heart-empty, .icon-comment-empty {
      display: none;
    }
    div.p_box {
        page-break-before: always;
    }
   /*Index se cortan las fotos*/
   /*#navegacion_perfil>label:after{
        content:" <" attr(href) ">";
   }*/
   /*#form_registro>span>label:after,button:after{
        content:" <" attr(href) ">";
   }*/

}
