/*Printer CSS*/
@media print{
    .top_header{
        display:none!important;
    }

    body>a:after {
        content:" <" attr(href) ">";
    }
    #check_info:checked + #box_info, #check_info:not(:checked) + #box_info { /*Mostrar abierto*/
        display:block;
    }

    .p_box>label:after{
        content:" <" attr(href) ">";
    }

    figure>a:after{
        content:" <" attr(href) ">";
    }
   /*Index se cortan las fotos*/
   #navegacion_perfil>label:after{
        content:" <" attr(href) ">";
   }
   #form_registro>span>label:after,button:after{
        content:" <" attr(href) ">";
   }

}
